@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
* {
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}